.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

header {
  text-align: center;
  margin: 10px 0 30px;
  font-size: 40px;
}

.word {
  margin-bottom: 25px;
}

.word:last-child {
  margin-bottom: 35px;
}

.letter,
.key {
  padding: 10px;
  margin: -1px 0 0 -1px;
  border: 1px solid black;
}

.letter.green,
.key.found {
  background-color: green;
}

.letter.yellow,
.key.missed {
  background-color: yellow;
}

.key.absent {
  background-color: grey;
}

.form {
  margin-bottom: 100px;
}

.input-warning {
  margin-top: 20px;
  color: red;
  opacity: 0.7;
  font-size: small;
}

.result-message {
  font-size: large;
  margin-bottom: 20px;
}

.result-message.victory {
  color: green;
}

.result-message.defeat {
  color: red;
}

.keyboard-container {
  position: absolute;
  bottom: 20px;
}

.keyboard-row {
  display: flex;
  justify-content: center;
}
