.dayz-container {
  background-color: #252932;
  padding: 10px;
}

.dayz-header {
  color: darkslategray;
}

.dayz-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.image {
  border: 1px solid darkslategray;
}
